<main id="top" role="main" class="p-l-15 p-r-15">
	<div class="row">
        <div class="col-lg-6">
			<h1> <span>{{'view.teacher.landing.subtitle'  | translate}}</span></h1>
			<div class="col">
				<div class="alert alert-info ng-binding text-center" *ngIf="newVersion">
					<h2>{{'New App Title' | translate}}</h2>
					{{'New App Description' | translate}}
					<button class="btn btn-primary w-100 m-t-10" (click)="redirectToStore()">{{'Update' | translate}}</button>
				</div>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="row" *ngIf="showSchools">
				<div class="col-12">
					<div class="form-group">
						<label for="shoolId"> {{'formLabels.school'  | translate}} </label>					  
						<select id="schoolId" name="schoolId"
							class="form-control"  [(ngModel)]="SchoolId" (change)="onChangeSchool()">									 
							<option [(ngValue)]="item.schoolId"
								*ngFor="let item of schools"> {{item.nameOfInstitution}}
							</option>
						</select>
					</div>
					
				</div>
			</div>
			<ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
				<li class="nav-item">
				  <a class="nav-link active" id="pills-home-tab" data-toggle="tab" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Students</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" id="pills-contact-tab" data-toggle="tab" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Groups</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-profile-tab" data-toggle="tab" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Individuals</a>
				  </li>
			  </ul>
			  <div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
					<form class="ng-pristine ng-valid">
						<div class="form-group">
						  <label for="studentName">{{'Student Name'  | translate}}</label>
						  <input type="text" class="form-control" id="studentName" [(ngModel)]="StudentName" name="studentName"/>
						</div>
						<div class="row">
							<div class="col-12">
							  <div class="form-group">
								  <label for="gradeId">{{'formLabels.gradeLevel'  | translate}}</label>					  
								  <select id="gradeId" name="gradeId"
									  class="form-control"  [(ngModel)]="GradeId" (change)="onChangeGrade()">									 
									  <option [(ngValue)]="item.id"
										  *ngFor="let item of model"> {{item.name}}
									  </option>
								  </select>
							  </div>
							  <div class="form-group">
								<label for="programId"> {{'formLabels.program'  | translate}} </label>					  
								<select id="programId" name="programId"  (change)="onProgramChange()"
									class="form-control"  [(ngModel)]="selectedProgramId">									 
									<option [(ngValue)]="item.id"
										*ngFor="let item of programs"> {{item.name}}
									</option>
								</select>
							</div>
						  </div>

						  <div class="form-group col-12">
							<label for="orderBy" class="select-label">{{'Order by'  | translate}}</label>
							<div class="select-button-container">	
								<div class="select-container">	
									<select id="orderBy" name="orderBy" (change)="onChange($event.target.value)" class="form-control"
										[(ngModel)]="orderValue" [value]="1">
										<!--<option value="'0'" [selected]="true">Default</option>-->
										<option [(ngValue)]="item.Id" *ngFor="let item of orderBy"> {{item.text}}</option>
									</select>
								</div>
								<div class="searchbtn-container">
									<div class="input-group-append p-10 f-s-18 d-flex justify-content-center align-items-center btn btn-fill-search" (click)="getTeacherStudents()">
										<span>{{'Search' | translate }}</span><i class="ion ion-md-search"></i>
									</div>
								</div>
							</div>
					  	  </div>
							
						</div>  
						
	
					</form>

					<div>
						<div class="card mb-2">
							<div class="card-body">	
							   <div *ngIf="students.length > 0">
								<app-teacher-student-list [students]="students"></app-teacher-student-list>
							  </div>
							</div>
						</div>

					</div>

                </div>
			
				<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
				
					<app-individual-messages [schoolId]="SchoolId" ></app-individual-messages>
					
                </div> 

				<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <ul class="nav nav-tabs mb-3" id="pills-tabGroups" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" style="padding: 0.5rem;" id="pills-Students-tab" data-toggle="tab" href="#pills-Students"
								role="tab" aria-controls="pills-Students" aria-selected="true">{{'view.teacher.landing.createMessageTab' | translate }}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" style="padding: 0.5rem;" id="pills-Groups-tab" data-toggle="tab" href="#pills-Groups" role="tab"
								aria-controls="pills-Groups" aria-selected="false">{{'view.teacher.landing.sentMessageTab' | translate }}</a>
						</li>

					</ul>
					<div class="tab-content" id="pills-tabGroupsContent">
						<div class="tab-pane fade show active" id="pills-Students" role="tabpanel"
							aria-labelledby="pills-Students-tab">
							<app-group-messaging [role]="'admin'" [schoolId]="SchoolId" ></app-group-messaging>
						</div>
						<div class="tab-pane fade" id="pills-Groups" role="tabpanel" aria-labelledby="pills-Groups-tab">
							<app-group-messages-sent [role]="'admin'" [schoolId]="SchoolId" ></app-group-messages-sent>
						</div>
					</div>
                </div>
			  </div>
		</div>
	</div>
</main>