<div class="card">
    <div class="card-body">
        <h3>{{'view.disciplineIncidents.title'  | translate}}
            <span>{{'view.disciplineIncidents.subtitle' | translate}}</span></h3>
        <div *ngIf="model.disciplineIncidents.length > 0">
            <div class="text-center min-height-75" *ngIf="model.yearToDateDisciplineIncidentCount == 0">
                <span>{{'No Suspendable Behaviors.' | translate}}</span></div>
            <div class="table-responsive">
                <table class="table table-xs table-striped" *ngIf="model.yearToDateDisciplineIncidentCount > 0">
                    <thead>
                        <tr>
                            <th>{{'Date' | translate}}</th>
                            <th>{{'Description' | translate}}</th>
                            <th class="text-center">{{'view.disciplineIncidents.actionsTaken' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of model.disciplineIncidents">
                            <td>{{d.incidentDate | date: 'M/d/yy'}}</td>
                            <td>{{d.description}}</td>
                            <td>
                                <ul>
                                    <li *ngFor="let a of d.disciplineActionsTaken">{{a.description}}</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <span class="float-right mr-2">{{'view.disciplineIncidents.moreDetail' | translate}} <a
                    title="{{model.externalLink.title}}" href="#"
                    (click)="externalUrl(model.externalLink.url)">{{model.externalLink.linkText}}</a></span>
        </div>
        <div *ngIf="model.disciplineIncidents.length == 0">
            <div class="d-flex justify-content-center">
                <i class="ion-ios-refresh f-s-50 animation-rotate" style="color: #03a9f4"></i>
            </div>
        </div>
    </div>
</div>